xmlvalidator-ws/src/main/resources/wsdl/gitb_vs.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  ~ Copyright (C) 2026 European Union
  ~
  ~ Licensed under the EUPL, Version 1.2 or - as soon they will be approved by the European Commission - subsequent
  ~ versions of the EUPL (the "Licence"); You may not use this work except in compliance with the Licence.
  ~
  ~ You may obtain a copy of the Licence at:
  ~
  ~ https://interoperable-europe.ec.europa.eu/collection/eupl/eupl-text-eupl-12
  ~
  ~ Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an
  ~ "AS IS" basis, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the Licence for
  ~ the specific language governing permissions and limitations under the Licence.
  -->

<xsd:schema version="1.0" targetNamespace="http://www.gitb.com/vs/v1/"
    xmlns="http://www.gitb.com/vs/v1/"
	xmlns:tns="http://www.gitb.com/vs/v1/"
    xmlns:tr="http://www.gitb.com/tr/v1/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:gitb="http://www.gitb.com/core/v1/">

    <xsd:import namespace="http://www.gitb.com/tr/v1/" schemaLocation="gitb_tr.xsd"/>
    <xsd:import namespace="http://www.gitb.com/core/v1/" schemaLocation="gitb_core.xsd"/>

	<xsd:element name="GetModuleDefinitionRequest" type="tns:Void" />
	<xsd:element name="GetModuleDefinitionResponse" type="tns:GetModuleDefinitionResponse" />
    <xsd:element name="ValidateRequest" type="tns:ValidateRequest" />
    <xsd:element name="ValidationResponse" type="tns:ValidationResponse" />

    <xsd:complexType name="Void">
		<xsd:sequence/>
	</xsd:complexType>

	<xsd:complexType name="GetModuleDefinitionResponse">
		<xsd:sequence>
			<xsd:element name="module" type="gitb:ValidationModule" />
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="ValidateRequest">
        <xsd:sequence>
            <xsd:element name="sessionId" type="xsd:string" />
            <xsd:element name="config" type="gitb:Configuration" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="input" type="gitb:AnyContent" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ValidationResponse">
        <xsd:sequence>
            <xsd:element name="report" type="tr:TAR" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>

